{extend name="../thinkphp/tpl/load_bootstrap.tpl" /}
{block name="client"}{/block}
{block name="body"}
<div class="col-lg-12"><h1 class="text-center">添加商品</h1></div>
<div class="col-lg-4">
    <ul class="nav nav-list">
        <li class="active">
            <a href="admin">管理订单</a>
        </li>
        <li>
            <a href="manage_product">管理商品</a>
        </li>
        <li>
            <a href="order_info">管理账号</a>
        </li>
    </ul>
</div>
<div class="col-lg-4">
    <form role="form" method="post" action="do_add_pd">
        <div class="form-group">
            <label for="phone">名称</label>
            <input type="text" name="pd_name">
        </div>
        <div class="form-group">
            <label for="price">价格</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="number">剩余数量</label>
            <input type="number" class="form-control" id="number" name="number">
        </div>
            <input type="submit" class="form-control btn btn-danger" id="submit" name="submit">
    </form>
{/block}